@font-face {
  font-family: "Helvetica Neue LT Std 57 Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Std 57 Condensed"), url("../assets/fonts/helvetica-neue/HelveticaNeueLTStd-Cn.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Std 56 Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Std 56 Italic"), url("../assets/fonts/helvetica-neue/HelveticaNeueLTStd-It.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Std 47 Light Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Std 47 Light Condensed"), url("../assets/fonts/helvetica-neue/HelveticaNeueLTStd-LtCn.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Std 45 Light";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Std 45 Light"), url("../assets/fonts/helvetica-neue/HelveticaNeueLTStd Lt.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Std 77 Bold Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Std 77 Bold Condensed"), url("../assets/fonts/helvetica-neue/HelveticaNeueLTStd-BdCn.woff") format("woff");
}

@font-face {
  font-family: 'robotolight';
  src: url('../assets/fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot');
  src: url('../assets/fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.woff2') format('woff2'),
       url('../assets/fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
       url('../assets/fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
       url('../assets/fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;

}