$headings-font-family: "Helvetica Neue", "Helvetica Neue LT Std 45 Light", sans-serif;

$primary: #F4DF4E;
$secondary-light: #019CC5;
$secondary-dark: #134065;
$info: #F7A93A;

$body-bg: $primary;

$carousel-control-color: $info;
